.btn-Profesional {
    width: 75%;
    background-color: var(--Violeta);
    color: var(--Lavanda);
}

.dropdown{
    width: 150px;
}

.btn-Profesional:hover {
    background-color: #501c46;
    color: var(--Lavanda);
}

.imgProfileDropdown{
    width: 75px;
}

@media all and (min-width:768px){
    .btn-Profesional {
        width: 50%;
    }
}

@media all and (min-width:992px){
    .btn-Profesional {
        width: inherit;
    }
}