.imgProfileUser{
    width: 120px;
    height: 120px;
    border: 1px solid #f7f7f7;
}

.iconMenu{
    color: #9e26ae;
}

@media all and (min-width:768px){
    .menuProfessional{
        height: 100%;
        min-height: 100vh;
    }

    .menuProfessional .containerMenu{
        min-height: 100vh;    
    }
}

@media all and (min-width:1200px){
    .navItemOffCanvas{
        font-size: 1.125rem;
    }

    .navLink:hover{
        color: #9e26ae;
    }
}
