.img-circulo-card {
  width: 150px;
}

.btn-descripcion-profesional {
  background: #853f78;
  border-color: #000000;
  color: aliceblue;
}

.card-detalle {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 3cqi 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-height: 200px;
  max-height: 350px;
  width: 100%;
  max-width: 250px;
}

@media (min-width: 768px) {
  .contenedor-detalle {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .contenedor-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-circulo-card {
    width: 80px;
  }

  .btn-descripcion-profesional {
    font-size: 14px;
  }

  .card-detalle {
    margin: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 992px) {
  .contenedor-detalle {
    flex-direction: row;
  }

  .contenedor-opiniones {
    margin-top: 2rem;
  }

  .card-detalle {
    position: sticky;
    top: 50px;
  }
}
