.btnExplore {
  width: 280px;
  background-color:var(--HoverVioleta);
  color: white;
}

.btnExplore:hover {
    background-color: var(--HoverVioleta);
    border: 1px solid var(--HoverVioleta);
    color: var(--Lavanda);
}

.btnRegister {
  width: 250px;
  background-color: var(--HoverVioleta);
  color: var(--Lavanda);
}

.btnRegister:hover {
  background-color: var(--Violeta);
  color: var(--Lavanda);
  border: 1px solid var(--Violeta);
}

.imgHome {
  width: 200px;
  height: 200px;
}

.sectionBanner,
.sectionRegister{
    background: #f7f7f7;
    color: #000;
}

.iconAdd{
    font-size: 20px;
}

@media all and (min-width: 360px) {
  .imgRegister {
    width: 300px;
    height: 300px;
  }
}

@media all and (min-width: 768px) {
  .imgBanner {
    width: 200px;
    height: 200px;
    border: 2px solid grey;
  }

  .imgRegister {
    width: 100%;
    height: 350px;
  }

  .containerImgBanner {
    max-width: 700px;
  }

.iconAdd{
    font-size: 25px;
}
}

@media all and (min-width: 992px) {
    .imgBanner {
      width: 225px;
      height: 225px;
      border: 2px solid grey;
    }

    .imgRegister {
        width: 100%;
        height: 600;
      }
}

@media all and (min-width: 1200px) {
    .imgBanner {
      width: 225px;
      height: 225px;
      border: 2px solid grey;
    }

    .imgRegister {
        width: 100%;
        height: 500px;
      }
}

@media all and (min-width: 1400px) {
    .imgBanner {
      width: 250px;
      height: 250px;
      border: 2px solid grey;
    }

    .imgRegister {
        width: 100%;
        height: 550px;
      }
}