.imgProfileUser{
    width: 100px;
}

@media all and (min-width:768px){
    .containerProfile{
        width: 100%;
    }

    .menuProfessional{
        min-height: 100vh;
    }

    .menuProfessional .containerMenu{
        height: 100vh;    
    }
}

@media all and (min-width:1200px){
    .navItemOffCanvas{
        font-size: 1.125rem;
    }
}
