.input:focus{
    box-shadow: none;
    outline: none;
}

.input:disabled{
    background:none;
}

.imgProfileForm{
    width: 150px;
}

.formProfile .btnEdit{
    background: var(--Violeta);
}

.formProfile .btnEdit:hover{
    background: #781985;
}

@media all and (min-width:768px){
    .containerProfile{
        width: 100%;
        height: 100%;
    }

    .containerProfile .formProfile{
        max-width: 800px;
    }
}
