.imgError{
    height: 700px;
    width: 700px;
}

@media (min-width: 360px) and (max-width: 767px)
{
    .imgError{
        height: 300px;
        width: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .imgError{
        height: 500px;
        width: 500px;
    }
}