@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --Negro: #000000;
  --Violeta: #91277d;
  --Violeta-secondary: #902c7e;
  --Rosa: #ffe3fa;
  --Lavanda: #ffebfd;
  --HoverVioleta: #501c46;
  --fontText-xl: 1.125rem; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Questrial", sans-serif;
}

.mainSection {
  flex-grow: 1;
}

.logo{
  font-size: 1.8rem;
}

.iconInstagram {
  background: rgb(250, 240, 243);
  color: rgb(225, 51, 102);
}

a{
  text-decoration: none;
  cursor: pointer;
}

.input{
  background: #F4F8FB;
  color: #424549;
  border:1px solid #F4F8FB;
}

.input:focus {
  outline: none;
  box-shadow: none;
  background: #F4F8FB;
  border: 1px solid #9692d0;
}

.input:disabled{
  background: #F4F8FB;
  color: #424549;
  border:1px solid #F4F8FB;
}

.btn:active {
  transform: translateY(2px);
  transition: cubic-bezier(1, 0, 0, 1) 0.2s;
}

img{
    object-fit: cover;
}

.accordion-button:focus{
  outline: none;
  box-shadow: none;
  background: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #876e8f;
  border-radius: 3px;
  border: 2px solid #d3c5cf;
}

::-webkit-scrollbar-thumb {
  background: var(--Violeta);
  border-radius: 3px;
  border: 2px solid #d3c5cf;
}

p,
.btn, 
.nav-link,
button,
label,
li,
span{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

@media all and (min-width: 1200px){
    p,
    .btn, 
    .nav-link,
    button,
    label,
    li{
        font-size: var(--fontText-xl);
    }
}