.bannerUs {
  position: relative;
  height: 400px;
  background-image: url("../img/imgBannerUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.bannerUs .bannerContent {
  position: relative;
  z-index: 2;
  color: #e9d9d9;
}

.cardUs {
  width: 300px;
  min-height: 500px;
}

.cardUs .imgCardUs {
  height: 375px;
  object-fit: cover;
}

@media all and (min-width: 1400px) {
  .bannerUs {
    position: relative;
    height: 550px;
  }
}
