.containerPosts {
  width: 100%;
}

.cardPostProfessional {
  width: 100%;
}

.cardPostProfessional .titlePostProfesional {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
}

.cardPostProfessional .iconUpdatePost {
  font-size: 1.6rem;
  color: var(--Violeta);
}

.cardPostProfessional .iconDeletePost {
  font-size: 1.8rem;
  color: #db4545;
}

@media all and (min-width: 768px) {
  .cardPostProfessional .titlePostProfesional {
    -webkit-line-clamp: 1;
  }

  .cardPostProfessional .iconUpdatePost {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .cardPostProfessional .iconDeletePost {
    font-size: 1.9rem;
    cursor: pointer;
  }
}

@media all and (min-width: 1400px) {
  .containerPosts {
    max-width: 50%;
  }

  .cardPostProfessional .iconUpdatePost {
    font-size: 1.8rem;
  }

  .cardPostProfessional .iconDeletePost {
    font-size: 2rem;
  }
}
