.btnLogin{
    background-color: #932ca5;
    color: #fff;
    outline: #932ca5;
}

.btnLogin:hover{
    background-color: #8d17a2;
    color: #fff;
    outline: #932ca5;
}

.btnLogin:active{
    background-color: #8d17a2!important;
    color: #fff!important;
    outline: #932ca5;
}

.btnCreateAccount {
    background-color: #7373c9;
    color: #fff;
}

.btnCreateAccount:hover {
    background-color: #45457f;
    color: #fff;
}

.btnLoginGoogle:hover {
    background-color: #efeef0;
    color: #000000;
}

.btnLoginGoogle:active {
    background-color: #efeef0 !important;
    color: #000000 !important;
}

.btnLoginGoogle:focus {
    background-color: #efeef0;
    color: #000000;
}