.perfilImg {
  width: 150px;
  height: 150px;
}

.formRegisterThree {
  width: 100%;
}

.formRegisterThree .btnCreateAccount{
  width: 100%;
  background-color: var(--Violeta);
  color: var(--Lavanda);
}

.position-relative {
  position: relative;
}

.uploadButton {
  background-color: var(--Violeta);
}

.uploadButton:hover {
  background-color: var(--Violeta);
}

.uploadButton:active {
  background-color: var(--Violeta);
}

.uploadPlusButton {
  background-color: var(--Lavanda);
}

.uploadPlusButton:hover {
  background-color: var(--Lavanda);
}

.uploadPlusButton:active {
  background-color: var(--Lavanda);
}

.upload-button {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: var(--Violeta);
  color: var(--Lavanda);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.upload-button:hover {
  background-color: var(--HoverVioleta);
}

@media all and (min-width: 768px) {
  .formRegisterThree {
    width: 500px;
  }

  .formRegisterThree .btnCreateAccount{
    width: 200px;
    background-color: var(--Violeta);
    color: var(--Lavanda);
  }
}

@media all and (min-width: 992px) {
  .formRegisterThree {
    width: 800px;
  }

  .formRegisterThree .btnCreateAccount{
    width: 200px;
    background-color: var(--Violeta);
    color: var(--Lavanda);
  }
}